<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/title.png" type="images/x-ico"/>
    <title>后台管理</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div id="header">
    <img src="/images/logo.png" id="logo">
    <a href="user.html" target="center" id="title">后台管理</a>
    <div id="list">
        <a href="user.html" target="center">用户列表</a>
        <a href="category.html" target="center">分类列表</a>
        <a href="contents.html" target="center">博客内容</a>
        <a href="comment.html" target="center">评论列表</a>
        <a href="/index">返回首页</a>
    </div>
</div>
<div id="center">
    <iframe name="center" src="user.html" frameborder="0"></iframe>
</div>
<div id="footer">
    <p>版权所有，违者不究</p>
</div>
</body>
</html>