<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/title.png" type="images/x-ico"/>
    <title>测试分页</title>
</head>
<body>
<h1>测试分页</h1>
<div>
    <!--<table>
    <tr> <td><a th:href="@{/goods/page?pageNum=0}">首页</a></td>
     <td th:switch="${pageNum}">
     <p th:case="1"> <a th:href="@{/goods/page?pageNum=1}">上一页</a></p> <p th:case="*"><a th:href="@{/goods/page(pageNum=${pageNum-1})}">上一页</a></p> </td> <td th:switch="${pageNum}"> <p th:case="${totalPages}"><a th:href="@{/goods/page(pageNum=${totalPages})}">下一页</a></p> <p th:case="*"><a th:href="@{/goods/page(pageNum=${pageNum+1})}">下一页</a></p> </td> <td><a th:href="@{/goods/page(pageNum=${totalPages})}">尾页</a></td> </tr> </table>-->

</div>
</body>
</html>