<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/title.png" type="images/x-ico"/>
    <title>通过标题模糊查询博客</title>
</head>
<body>
   <!-- <div>
        <ul th:each="contents:${contents}">
            <li th:text="${contents.title}"></li>
            <li th:text="${contents.content}"></li>
            <li th:text="${contents.users}"></li>
            <li th:text="${#dates.format(contents.time)}"></li>
            <li th:text="${contents.categories}"></li>
        </ul>
    </div>-->

</body>
</html>